NODE_ENV=development
PORT=5001
MONGO_URI=mongodb+srv://tsiddakanth_db_user:Kanth%4012296@cluster1.9hnoklk.mongodb.net/myapp?retryWrites=true&w=majority
JWT_SECRET=8-zxucGkKTmOAWzFDVnwmBtceFz8HuiwAHJHT88anGepN29bscfW4ol_LXScYRbp
JWT_EXPIRES_IN=1d
